.pokemon-list {
  &__wrapper {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow: auto;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: #e2350d;
      border-radius: 2px;
    }
  }
}
@media only screen and (max-width: 720px) {
  .pokemon-list__wrapper {
    justify-content: center;
    padding: 10px;
  }
}
