.sort-toggle {
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
  }
  &__input {
    cursor: pointer;
    height: 2.5rem;
    border: 1px solid #e2350d;
    border-radius: 1.25rem;
    color: #e2350d;
    font-size: 0.8rem;
    padding: 0px 10px;
    &:focus {
      outline: 2px solid #e2350d;
    }
  }
}

@media only screen and (max-width: 720px) {
  .sort-toggle__wrapper {
    justify-content: flex-start;
  }
}
